#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Subsystems"

# zephyr-keep-sorted-start
rsource "ble/Kconfig"
rsource "bm_installs/Kconfig"
rsource "logging/Kconfig"
rsource "mgmt/mcumgr/Kconfig"
rsource "softdevice/Kconfig"
rsource "nrf_sdh/Kconfig"
rsource "storage/flash_map/Kconfig"
# zephyr-keep-sorted-stop

endmenu
