#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Subsystems"

# zephyr-keep-sorted-start
rsource "bluetooth/Kconfig"
rsource "bm_installs/Kconfig"
rsource "logging/Kconfig"
rsource "softdevice/Kconfig"
rsource "softdevice_handler/Kconfig"
rsource "storage/flash_map/Kconfig"
# zephyr-keep-sorted-stop

endmenu
