#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

choice "$(characteristic)_SEC_MODE_CHOICE"
	prompt "Security mode for $(characteristic-str)"
	default $(characteristic)_SEC_MODE_JUST_WORKS

config $(characteristic)_SEC_MODE_JUST_WORKS
	bool "Just works (open)"
	help
	  No security is needed (aka open link).

config $(characteristic)_SEC_MODE_ENCRYPTED
	bool "Encrypted"
	help
	  Encrypted link required, MITM protection not necessary.

config $(characteristic)_SEC_MODE_ENCRYPTED_MITM
	bool "Encrypted, with MITM protection"
	help
	  MITM protected encrypted link required.

config $(characteristic)_SEC_MODE_LESC_ENCRYPTED_MITM
	bool "LESC encryption, with MITM protection"
	help
	  LESC MITM protected encrypted link using a 128-bit strength encryption key required.

config $(characteristic)_SEC_MODE_SIGNED
	bool "Signing or encryption"
	help
	  Signing or encryption required, MITM protection not necessary.

config $(characteristic)_SEC_MODE_SIGNED_MITM
	bool "Signing or encryption, with MITM protection"
	help
	   MITM protected signing required, unless link is MITM protected encrypted.

endchoice

config $(characteristic)_SEC_MODE
	hex
	default 0x11 if $(characteristic)_SEC_MODE_JUST_WORKS
	default 0x12 if $(characteristic)_SEC_MODE_ENCRYPTED
	default 0x13 if $(characteristic)_SEC_MODE_ENCRYPTED_MITM
	default 0x14 if $(characteristic)_SEC_MODE_LESC_ENCRYPTED_MITM
	default 0x21 if $(characteristic)_SEC_MODE_SIGNED
	default 0x22 if $(characteristic)_SEC_MODE_SIGNED_MITM
