#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menuconfig BLE_BMS
	bool "Bond management service"

if BLE_BMS

config BLE_BMS_BLE_OBSERVER_PRIO
	int "Softdevice event observer priority"
	default 0

config USE_AUTHORIZATION_CODE
	bool "Use authorization code"
	default y

config AUTHORIZATION_CODE
	string "Authorization code"
	default "ABCD"

module=BLE_BMS
module-str=BLE_BMS
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif
