#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BLE_HRS_CLIENT
	bool "BLE Heart rate service client [EXPERIMENTAL]"
	depends on SOFTDEVICE_CENTRAL
	depends on NRF_SDH_BLE
	depends on BLE_DB_DISCOVERY
	depends on BLE_GATT_QUEUE
	select EXPERIMENTAL
	help
	  Heart rate service client library.

if BLE_HRS_CLIENT

config BLE_HRS_CLIENT_RR_INTERVALS_MAX_COUNT
	int "Maximum number of RR intervals per HRM notification"
	default 20
	help
	  Maximum number of RR intervals to be decoded for each HRM notifications
	  (any extra RR intervals are ignored).

module=BLE_HRS_CLIENT
module-str=BLE Heart rate client
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # BLE_HRS_CLIENT
