#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menuconfig BLE_GATT_QUEUE
	bool "BLE GATT Queue"

if BLE_GATT_QUEUE

config BLE_GQ_MAX_CONNECTIONS
	int "Max simultaneous connections"
	default 1

config BLE_GQ_QUEUE_SIZE
	int "Request queue size"
	default 8

config BLE_GQ_HEAP_SIZE
	int "Datapool heap size (bytes)"
	default 256

config BLE_GQ_GATTC_WRITE_MAX_DATA_LEN
	int "Max size of the data inside GATTC write request (bytes)"
	default 32

config BLE_GQ_GATTS_HVX_MAX_DATA_LEN
	int "Max size of the data inside GATTS notification or indication request (bytes)"
	default 32

module=BLE_GQ
module-dep=LOG
module-str=BLE GATT Queue
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BLE_GATT_QUEUE
