# CODEOWNERS for autoreview assigning in github

# Order is important; the last matching pattern takes the most
# precedence.

# Root folder
/.*                                       @nrfconnect/ncs-code-owners @nrfconnect/ncs-bm
/CMakeLists.txt                           @nrfconnect/ncs-co-build-system
/CODEOWNERS                               @nrfconnect/ncs-code-owners @nrfconnect/ncs-bm
/Jenkinsfile                              @nrfconnect/ncs-ci @nrfconnect/ncs-bm-test
/LICENSE                                  @carlescufi
/README.md                                @nrfconnect/ncs-bm @nrfconnect/ncs-bm-doc
/VERSION                                  @nrfconnect/ncs-bm
/west.yml                                 @nrfconnect/ncs-bm

# Dot folders
/.github/                                 @nrfconnect/ncs-ci @nrfconnect/ncs-bm
/.clang-format                            @nrfconnect/ncs-bm
/.checkpatch.conf                         @nrfconnect/ncs-bm

# Applications
/applications/installer/                  @nrfconnect/ncs-pluto

# Boards
/boards/                                  @nrfconnect/ncs-co-boards @nrfconnect/ncs-bm

# All cmake related files
/cmake/                                   @nrfconnect/ncs-co-build-system

# External components
/components/softdevice/                   @nrfconnect/ncs-dragoon

# All doc related files
/doc/                                     @nrfconnect/ncs-bm @nrfconnect/ncs-bm-doc

# Drivers
/drivers/clock_control/                   @nrfconnect/ncs-bm
/drivers/console/                         @nrfconnect/ncs-bm
/drivers/lpuarte/                         @nrfconnect/ncs-bm

# Include
/include/*.h                              @nrfconnect/ncs-bm
/include/bluetooth/                       @nrfconnect/ncs-bm

# Libraries
/lib/bm_zms/                              @nrfconnect/ncs-bm @rghaddab
/lib/ble_adv/                             @nrfconnect/ncs-bm
/lib/ble_conn_params/                     @nrfconnect/ncs-bm
/lib/ble_conn_state/                      @nrfconnect/ncs-bm
/lib/ble_gq/                              @nrfconnect/ncs-bm
/lib/ble_qwr/                             @nrfconnect/ncs-bm
/lib/ble_racp/                            @nrfconnect/ncs-bm
/lib/bm_buttons/                          @nrfconnect/ncs-bm
/lib/bm_storage/                          @nrfconnect/ncs-bm
/lib/bm_timer/                            @nrfconnect/ncs-bm
/lib/boot_banner/                         @nrfconnect/ncs-bm
/lib/event_scheduler/                     @nrfconnect/ncs-bm
/lib/peer_manager/                        @nrfconnect/ncs-bm
/lib/sensorsim/                           @nrfconnect/ncs-bm
/lib/zephyr_queue/                        @nrfconnect/ncs-pluto

# Samples
/samples/bluetooth/                       @nrfconnect/ncs-bm
/samples/boot/                            @nrfconnect/ncs-pluto
/samples/mcumgr/                          @nrfconnect/ncs-pluto
/samples/peripherals/bm_zms/              @nrfconnect/ncs-bm @rghaddab
/samples/peripherals/                     @nrfconnect/ncs-bm

# Samples documentation
/samples/**/*.rst                         @nrfconnect/ncs-bm-doc
/samples/bluetooth/**/*.rst               @nrfconnect/ncs-bm-doc
/samples/peripherals/**/*.rst             @nrfconnect/ncs-bm-doc

# Scripts
/scripts/                                 @nrfconnect/ncs-bm
/scripts/requirements-*.txt               @nrfconnect/ncs-co-build-system

# Subsystems
/subsys/bluetooth/                        @nrfconnect/ncs-bm
/subsys/bm_installs/                      @nrfconnect/ncs-pluto
/subsys/logging/                          @nrfconnect/ncs-bm
/subsys/mgmt/mcumgr/                      @nrfconnect/ncs-pluto
/subsys/softdevice/                       @nrfconnect/ncs-bm
/subsys/softdevice_handler/               @nrfconnect/ncs-bm
/subsys/storage/flash_map/                @nrfconnect/ncs-pluto

# Sysbuild
/sysbuild/                                @nrfconnect/ncs-co-build-system

# Tests
/tests/lib/bm_zms/                        @nrfconnect/ncs-bm @rghaddab
/tests/lib/ble_qwr/                       @nrfconnect/ncs-bm
/tests/lib/ble_racp/                      @nrfconnect/ncs-bm
/tests/lib/ble_adv/                       @nrfconnect/ncs-bm-test
/tests/lib/bm_storage/                    @nrfconnect/ncs-bm

# Zephyr module
/zephyr/                                  @nrfconnect/ncs-co-build-system

# Global override file patterns
Kconfig*                                  @nrfconnect/ncs-co-build-system @nrfconnect/ncs-bm
CMakeLists*                               @nrfconnect/ncs-co-build-system
*.cmake	                                  @nrfconnect/ncs-co-build-system
