#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NRF_BM
	bool
	default y

if NRF_BM

# zephyr-keep-sorted-start
rsource "drivers/Kconfig"
rsource "lib/Kconfig"
rsource "samples/Kconfig"
rsource "subsys/Kconfig"
# zephyr-keep-sorted-stop

endif # NRF_BM
