#
# Copyright (c) 2024 Nordic Semiconductor ASA. All Rights Reserved.
#
# The information contained herein is confidential property of Nordic Semiconductor ASA.
# The use, copying, transfer or disclosure of such information is prohibited except by
# express written agreement with Nordic Semiconductor ASA.
#

config NRF_LITE
	bool
	default y

rsource "lib/Kconfig"
#rsource "samples/Kconfig"
rsource "subsys/Kconfig"
