#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NRF_LITE
	bool
	default y

rsource "lib/Kconfig"
#rsource "samples/Kconfig"
rsource "subsys/Kconfig"
