#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NCS_BM
	bool "NCS Bare Metal"
	default y

if NCS_BM

# zephyr-keep-sorted-start
rsource "drivers/Kconfig"
rsource "lib/Kconfig"
rsource "samples/Kconfig"
rsource "subsys/Kconfig"
# zephyr-keep-sorted-stop

config PROGRAM_SOFTDEVICE_WITH_APP
	bool "Program SoftDevice together with application (none MCUboot board variant)"
	depends on !BOOTLOADER_MCUBOOT
	depends on SOFTDEVICE
	default y

config SOFTDEVICE_FILE
	string "SoftDevice file (DO NOT ALTER)"

endif # NCS_BM
