#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config NCS_BM
	bool "NCS Bare Metal"
	default y

if NCS_BM

# zephyr-keep-sorted-start
rsource "drivers/Kconfig"
rsource "lib/Kconfig"
rsource "modules/Kconfig"
rsource "samples/Kconfig"
rsource "subsys/Kconfig"
# zephyr-keep-sorted-stop

endif # NCS_BM
