#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "Bluetooth libraries"

rsource "ble_adv/Kconfig"
rsource "ble_conn_params/Kconfig"
rsource "ble_conn_state/Kconfig"
rsource "ble_db_discovery/Kconfig"
rsource "ble_gq/Kconfig"
rsource "ble_racp/Kconfig"
rsource "ble_radio_notification/Kconfig"
rsource "ble_scan/Kconfig"
rsource "ble_qwr/Kconfig"
rsource "peer_manager/Kconfig"

menu "Common"

config BLE_GATT_DB_MAX_CHARS
	int "Maximum number of characteristics in a service record (See ble_gatt_db.h)"
	default 6
	help
	  Maximum number of characteristics that can be stored in the characteristics array of
	  the GATT database service structure defined in include/bm/bluetooth/ble_gatt_db.h.
	  The structure is shared by multiple libraries, like ble_db_discovery and peer_manager.

endmenu # Common

endmenu
