#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "Bluetooth libraries"

rsource "ble_adv/Kconfig"
rsource "ble_conn_params/Kconfig"
rsource "ble_conn_state/Kconfig"
rsource "ble_db_discovery/Kconfig"
rsource "ble_gq/Kconfig"
rsource "ble_racp/Kconfig"
rsource "ble_radio_notification/Kconfig"
rsource "ble_qwr/Kconfig"
rsource "peer_manager/Kconfig"

endmenu
