#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BM_STORAGE
	bool "Bare Metal storage"
	help
	  Bare Metal storage library.

if BM_STORAGE

choice BM_STORAGE_BACKEND
	prompt "Bare Metal storage backend"

config BM_STORAGE_BACKEND_RRAM
	bool "Bare Metal RRAM storage backend"
	depends on !SOFTDEVICE

config BM_STORAGE_BACKEND_SD
	bool "Bare Metal SoftDevice storage backend"
	depends on SOFTDEVICE
	depends on NRF_SDH
	depends on RING_BUFFER

config BM_STORAGE_BACKEND_NATIVE_SIM
	bool "Bare Metal native simulator storage backend"
	depends on BOARD_NATIVE_SIM

endchoice

if BM_STORAGE_BACKEND_SD

config BM_STORAGE_BACKEND_SD_QUEUE_SIZE
	int "SoftDevice storage backend queue size"
	default 4

config BM_STORAGE_BACKEND_SD_MAX_RETRIES
	int "Maximum number of attempts at executing an operation when the SoftDevice is busy"
	default 8
	help
	  Increase this value if events frequently return -ETIMEDOUT.
	  The SoftDevice might fail to schedule flash access due to high BLE activity.

endif # BM_STORAGE_BACKEND_SD

if BM_STORAGE_BACKEND_NATIVE_SIM

config BM_STORAGE_BACKEND_NATIVE_SIM_ASYNC
	bool "Asynchronous execution of storage operations"

endif # BM_STORAGE_BACKEND_NATIVE_SIM

endif # BM_STORAGE
