#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BLE_LBS
	bool "Nordic LED Button Service"

if BLE_LBS

module=BLE_LBS
module-dep=LOG
module-str=BLE LED Button Service
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif
