#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
rsource "Kconfig.bas"
rsource "Kconfig.dis"
rsource "Kconfig.hrs"
rsource "Kconfig.lbs"
rsource "Kconfig.nus"
rsource "nrf_ble_cgms/Kconfig.cgms"
