#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menuconfig BLE_CONN_STATE
	bool "Connection state"
	depends on SOFTDEVICE
	depends on NRF_SDH_BLE
	help
	  A library to defer event processing to main().

if BLE_CONN_STATE

config BLE_CONN_STATE_USER_FLAG_COUNT
	int "User flag count"
	range 0 24
	default 24
	help
	   The number of available user flags.

module=BLE_CONN_STATE
module-str=BLE Connection state
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif
