#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Storage"

# zephyr-keep-sorted-start
rsource "bm_rmem/Kconfig"
rsource "bm_storage/Kconfig"
rsource "flash_map/Kconfig"
# zephyr-keep-sorted-stop

endmenu
