#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# Enable console
CONFIG_CONSOLE=y
CONFIG_BM_UARTE_CONSOLE=y

# Remove boot banner
CONFIG_NCS_BOOT_BANNER=n
CONFIG_BOOT_BANNER=n

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# MPU-based null-pointer dereferencing detection cannot
# be applied as the (0x0 - 0x400) is unmapped for this target.
CONFIG_NULL_POINTER_EXCEPTION_DETECTION_NONE=y

# Enable Cache
CONFIG_CACHE_MANAGEMENT=y
CONFIG_EXTERNAL_CACHE=y

# Start SYSCOUNTER on driver init
CONFIG_NRF_GRTC_START_SYSCOUNTER=y

# Disable partition manager
CONFIG_PARTITION_MANAGER_ENABLED=n

# Disable multithreading
CONFIG_MULTITHREADING=n
CONFIG_ZERO_LATENCY_IRQS=y

# Disable generation of the redundant SW ISR table
CONFIG_GEN_SW_ISR_TABLE=n

# Allow FLASH writes
CONFIG_MPU_ALLOW_FLASH_WRITE=y

# Shrink
CONFIG_GPIO=n

# Enable all NRFX drivers
CONFIG_NRFX_CLOCK=y
CONFIG_NRFX_CLOCK_LFXO_TWO_STAGE_ENABLED=y
CONFIG_NRFX_EGU10=y
CONFIG_NRFX_EGU20=y
CONFIG_NRFX_GPIOTE20=y
CONFIG_NRFX_GPIOTE30=y
CONFIG_NRFX_GPPI=y
CONFIG_NRFX_POWER=y
CONFIG_NRFX_PWM=y
CONFIG_NRFX_QDEC=y
CONFIG_NRFX_RRAMC=y
CONFIG_NRFX_SAADC=y
CONFIG_NRFX_SPIS=y
CONFIG_NRFX_SPIM=y
CONFIG_NRFX_SYSTICK=y
CONFIG_NRFX_TEMP=y
CONFIG_NRFX_TIMER=y
CONFIG_NRFX_TWIM=y
CONFIG_NRFX_TWIS=y
CONFIG_NRFX_UARTE=y
CONFIG_NRFX_WDT=y
# Disable all Peripheral Resource Sharing (PRS) boxes
CONFIG_NRFX_PRS_BOX_0=n
CONFIG_NRFX_PRS_BOX_1=n
CONFIG_NRFX_PRS_BOX_2=n
