#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BOARD_BM_NRF54LS05DK
	select SOC_NRF54LS05B_CPUAPP if BOARD_BM_NRF54LS05DK_NRF54LS05B_CPUAPP_S115_SOFTDEVICE || \
					BOARD_BM_NRF54LS05DK_NRF54LS05B_CPUAPP_S115_SOFTDEVICE_MCUBOOT ||  \
					BOARD_BM_NRF54LS05DK_NRF54LS05B_CPUAPP_S145_SOFTDEVICE || \
					BOARD_BM_NRF54LS05DK_NRF54LS05B_CPUAPP_S145_SOFTDEVICE_MCUBOOT
