#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menuconfig BM_TIMER
	bool "Timer library"
	depends on SOFTDEVICE || CLOCK_CONTROL
	help
	  A library to create and use multiple timer instances
	  based on a single RTC peripheral.

if BM_TIMER

config BM_TIMER_IRQ_PRIO
	int "Timer interrupt priority (NVIC level)"
	range 0 8
	default 5 if SOFTDEVICE
	default 3
	help
	  Interrupt priority level must be greater than 4 (softdevice low priority)
	  when softdevice is used.

module=BM_TIMER
module-dep=LOG
module-str=Bare Metal Timer
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BM_TIMER
