#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "BLE MCUmgr sample"

module=APP
module-str=BLE MCUmgr Sample
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endmenu # "BLE MCUmgr sample"

config MCUMGR_GRP_OS_MCUMGR_PARAMS_ROLE_VALUE
    default 81

source "Kconfig.zephyr"
