#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BM_BUTTONS
	bool "Buttons library"
	depends on BM_TIMER
	help
	  A library to manage buttons.

if BM_BUTTONS

config BM_BUTTONS_NUM_PINS
	int "Number of available pins for buttons"
	range 1 24 if SOC_SERIES_NRF54LX
	default 24 if SOC_SERIES_NRF54LX

module=BM_BUTTONS
module-str=Buttons library
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif
