#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig LITE_BUTTONS
	bool "Buttons library"
	depends on NRFX_GPIOTE0
	depends on LITE_TIMER
	help
	  A library to manage buttons.

if LITE_BUTTONS

config LITE_BUTTONS_NUM_PINS
	int "Number of available pins for buttons"
	default 32 if SOC_NRF52840

module=LITE_BUTTONS
module-dep=LOG
module-str=Lite Buttons
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif
