#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if NCS_BM

if NFC_NDEF

config BM_NFC_NDEF_LE_OOB_REC
	bool "NDEF LE OOB record generator library for Bare Metal"
	select NFC_NDEF_PAYLOAD_TYPE_COMMON
	depends on SOFTDEVICE

config BM_NFC_NDEF_CH_MSG
	bool "NDEF pairing Connection Handover message generator library for Bare Metal"
	select NFC_NDEF_CH_REC
	help
	  Enable NDEF Connection Handover message generator library

if BM_NFC_NDEF_CH_MSG

config BM_NFC_NDEF_CH_MAJOR_VERSION
	int "Connection Handover major version"
	default 1
	help
	  The major version of the Connection Handover specification.

config BM_NFC_NDEF_CH_MINOR_VERSION
	int "Connection Handover minor version"
	default 5
	help
	  The minor version of the Connection Handover specification.

endif # BM_NFC_NDEF_CH_MSG

endif # NFC_NDEF

endif # NCS_BM
