doxmlparser
python-dotenv
jsonschema
Sphinx>=8.1,<8.2
sphinx-copybutton
sphinx-tabs
sphinx-togglebutton
git+https://github.com/nrfconnect/doc-sphinx-ncs-theme@refs/pull/27/merge#egg=sphinx-ncs-theme
west
