#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menuconfig BLE_CONN_PARAMS
	bool "BLE Connection Parameters"

if BLE_CONN_PARAMS

menuconfig BLE_CONN_PARAMS_AUTO_GAP_CONN_PARAM_UPDATE
	bool "Handle GAP connection parameter updates"
	default y

if BLE_CONN_PARAMS_AUTO_GAP_CONN_PARAM_UPDATE

config BLE_CONN_PARAMS_MIN_CONN_INTERVAL
	int "Minimum connection interval (1.25 ms units)"
	range 6 3200
	default 6
	help
	  Minimum connection interval, in 1.25 ms units.
	  Min 7.5 ms, Max 4 sec.

config BLE_CONN_PARAMS_MAX_CONN_INTERVAL
	int "Maximum connection interval (1.25 ms units)"
	range BLE_CONN_PARAMS_MIN_CONN_INTERVAL 3200
	default 256
	help
	  Maximum connection interval.
	  Min 7.5 ms, Max 4 sec.

config BLE_CONN_PARAMS_SLAVE_LATENCY
	int "Slave latency"
	range 0 499
	default 0
	help
	  Number of connection events that peripheral is allowed to skip.

config BLE_CONN_PARAMS_SUP_TIMEOUT
	int "Connection supervision timeout (10 ms units)"
	range 10 3200
	default 100
	help
	  Connection supervision timeout, in units of 10 milliseconds.
	  Min 100 ms, Max 32 sec.

config BLE_CONN_PARAMS_MAX_SLAVE_LATENCY_DEVIATION
	int "Maximum slave latency deviation (1.25 ms units)"
	range 0 499
	default 0
	help
	  How much can the slave latency deviate from the desired value.

config BLE_CONN_PARAMS_MAX_SUP_TIMEOUT_DEVIATION
	int "Maximum supervision timeout deviation (10 ms units)"
	range 0 3190
	default 400
	help
	  How much can the connection supervision timeout deviate from the desired value.

config BLE_CONN_PARAMS_NEGOTIATION_RETRIES
	int "Number of attempts to negotiate parameters"
	default 2
	help
	  Maximum number of attempts to negotiate connection parameters.

config BLE_CONN_PARAMS_DISCONNECT_ON_FAILURE
	bool "Disconnect upon failure to negotiate configured parameters"

endif # BLE_CONN_PARAMS_AUTO_GAP_CONN_PARAM_UPDATE

config BLE_CONN_PARAMS_AUTO_ATT_MTU
	bool "Handle ATT MTU exchanges"
	default y

if BLE_CONN_PARAMS_AUTO_ATT_MTU

# Define a hidden KConfig for this module
config BLE_CONN_PARAMS_ATT_MTU
	int
	default NRF_SDH_BLE_GATT_MAX_MTU_SIZE

# Show the SDH Kconfig entry
config NRF_SDH_BLE_GATT_MAX_MTU_SIZE
	int "ATT MTU"

config BLE_CONN_PARAMS_INITIATE_ATT_MTU_EXCHANGE
	bool "Initiate ATT MTU exchange on connection" if BLE_CONN_PARAMS_ATT_MTU != 23

endif # BLE_CONN_PARAMS_AUTO_ATT_MTU

config BLE_CONN_PARAMS_AUTO_DATA_LENGTH
	bool "Handle data length updates"
	default y
	depends on SOFTDEVICE_DATA_LENGTH_UPDATE

if BLE_CONN_PARAMS_AUTO_DATA_LENGTH

config BLE_CONN_PARAMS_DATA_LENGTH
	int "Data length"
	range 27 251
	default 27

config BLE_CONN_PARAMS_INITIATE_DATA_LENGTH_UPDATE
	bool "Initiate data length update on connection" if BLE_CONN_PARAMS_DATA_LENGTH != 27

endif # BLE_CONN_PARAMS_AUTO_DATA_LENGTH

config BLE_CONN_PARAMS_AUTO_PHY_UPDATE
	bool "Handle PHY mode updates"
	default y
if BLE_CONN_PARAMS_AUTO_PHY_UPDATE

choice
	prompt "Preferred radio PHY mode in connection"
	default BLE_CONN_PARAMS_PHY_AUTO

config BLE_CONN_PARAMS_PHY_AUTO
	bool "Auto"
config BLE_CONN_PARAMS_PHY_1MBPS
	bool "1 Megabit"
config BLE_CONN_PARAMS_PHY_2MBPS
	bool "2 Megabits"
config BLE_CONN_PARAMS_PHY_CODED
	bool "Coded"
endchoice

config BLE_CONN_PARAMS_PHY
	hex
	default 0x00 if BLE_CONN_PARAMS_PHY_AUTO
	default 0x01 if BLE_CONN_PARAMS_PHY_1MBPS
	default 0x02 if BLE_CONN_PARAMS_PHY_2MBPS
	default 0x04 if BLE_CONN_PARAMS_PHY_CODED

config BLE_CONN_PARAMS_INITIATE_PHY_UPDATE
	bool "Initiate PHY mode update on connection"
	depends on BLE_CONN_PARAMS_AUTO_PHY_UPDATE

endif # BLE_CONN_PARAMS_AUTO_PHY_UPDATE

module=BLE_CONN_PARAMS
module-dep=LOG
module-str=BLE Connection Parameters
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BLE_CONN_PARAMS
