#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BLE_MCUMGR
	bool "MCUmgr service"

if BLE_MCUMGR

module=BLE_MCUMGR
module-dep=LOG
module-str=BLE MCUmgr Service
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif
