#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "Libraries"

rsource "ble_adv/Kconfig"
rsource "ble_conn_params/Kconfig"
rsource "ble_racp/Kconfig"
rsource "event_scheduler/Kconfig"
rsource "lite_buttons/Kconfig"
rsource "lite_timer/Kconfig"
rsource "ble_qwr/Kconfig"
rsource "sensorsim/Kconfig"

endmenu
