#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "Libraries"

# zephyr-keep-sorted-start
rsource "bluetooth/Kconfig"
rsource "bm_buttons/Kconfig"
rsource "bm_gpiote/Kconfig"
rsource "bm_scheduler/Kconfig"
rsource "bm_spi_mngr/Kconfig"
rsource "bm_timer/Kconfig"
rsource "boot_banner/Kconfig"
rsource "sensorsim/Kconfig"
rsource "zephyr_queue/Kconfig"
# zephyr-keep-sorted-stop

endmenu
