#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Settings"
	depends on SETTINGS

config NCS_BM_SETTINGS_BLUETOOTH_NAME
	bool "Bluetooth name"
	help
	  If enabled, settings handlers for support BLE advertising name
	  sharing under `fw_loader/adv_name` key are included into the build.

endmenu
