#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Settings"
	depends on SETTINGS

menuconfig NCS_BM_SETTINGS_BLUETOOTH_NAME
	bool "Bluetooth name"

endmenu
