# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=y

# Enable uart driver
CONFIG_SERIAL=y

# Enable console
CONFIG_CONSOLE=y
CONFIG_LITE_UARTE_CONSOLE=y

# Remove boot banner
CONFIG_NCS_BOOT_BANNER=n
CONFIG_BOOT_BANNER=n

CONFIG_MULTITHREADING=n
CONFIG_ZERO_LATENCY_IRQS=y

#Enable SoftDevice
CONFIG_CLOCK_CONTROL=n
CONFIG_SOFTDEVICE=y
CONFIG_NRF_SDH=y

# Enable all NRFX drivers
CONFIG_NRFX_CLOCK=y
CONFIG_NRFX_CLOCK_LFXO_TWO_STAGE_ENABLED=y
CONFIG_NRFX_COMP=y
CONFIG_NRFX_EGU0=y
CONFIG_NRFX_EGU1=y
CONFIG_NRFX_EGU2=y
CONFIG_NRFX_EGU3=y
CONFIG_NRFX_EGU4=y
CONFIG_NRFX_EGU5=y
CONFIG_NRFX_GPIOTE0=y
CONFIG_NRFX_GPPI=y
CONFIG_NRFX_I2S0=y
CONFIG_NRFX_NFCT=y
CONFIG_NRFX_NVMC=y
CONFIG_NRFX_PDM0=y
CONFIG_NRFX_POWER=y
CONFIG_NRFX_PPI=y
CONFIG_NRFX_PWM0=y
CONFIG_NRFX_PWM1=y
CONFIG_NRFX_PWM2=y
CONFIG_NRFX_PWM3=y
CONFIG_NRFX_QDEC0=y
CONFIG_NRFX_QSPI=y
CONFIG_NRFX_RNG=y
CONFIG_NRFX_RTC0=y
CONFIG_NRFX_RTC1=y
CONFIG_NRFX_RTC2=y
CONFIG_NRFX_SAADC=y
CONFIG_NRFX_SPIM0=y
CONFIG_NRFX_SPIM1=y
CONFIG_NRFX_SPIM2=y
CONFIG_NRFX_SPIM3=y
CONFIG_NRFX_SYSTICK=y
CONFIG_NRFX_TEMP=y
CONFIG_NRFX_TIMER0=y
CONFIG_NRFX_TIMER1=y
CONFIG_NRFX_TIMER2=y
CONFIG_NRFX_TIMER3=y
CONFIG_NRFX_TIMER4=y
CONFIG_NRFX_UARTE0=y
CONFIG_NRFX_UARTE1=y
CONFIG_NRFX_UARTE_CONFIG_TX_LINK=y
CONFIG_NRFX_UARTE_CONFIG_RX_CACHE_ENABLED=y
CONFIG_NRFX_WDT0=y
CONFIG_NRFX_PRS_BOX_0=y
CONFIG_NRFX_PRS_BOX_1=y
CONFIG_NRFX_PRS_BOX_2=y
CONFIG_NRFX_PRS_BOX_3=y
CONFIG_NRFX_PRS_BOX_4=y
