#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BLE_RACP
	bool "BLE Record Access Control Point"

if BLE_RACP

module=BLE_RACP
module-dep=LOG
module-str=BLE RACP
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # BLE_RACP
