#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config ZEPHYR_QUEUE
	bool "Zephyr queue implementation"
	help
	  Includes support for the k_queue_* functions from upstream zephyr
