#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

# Enable console
CONFIG_CONSOLE=y
CONFIG_BM_UARTE_CONSOLE=y

# Remove boot banner
CONFIG_NCS_BOOT_BANNER=n
CONFIG_BOOT_BANNER=n

# Enable MPU
CONFIG_ARM_MPU=y

# Enable hardware stack protection
CONFIG_HW_STACK_PROTECTION=y

# MPU-based null-pointer dereferencing detection cannot
# be applied as the (0x0 - 0x400) is unmapped for this target.
CONFIG_NULL_POINTER_EXCEPTION_DETECTION_NONE=y

# Enable Cache
CONFIG_CACHE_MANAGEMENT=y
CONFIG_EXTERNAL_CACHE=y

# Start SYSCOUNTER on driver init
CONFIG_NRF_GRTC_START_SYSCOUNTER=y

# Disable partition manager
CONFIG_PARTITION_MANAGER_ENABLED=n

# Disable multithreading
CONFIG_MULTITHREADING=n
CONFIG_ZERO_LATENCY_IRQS=y

# Disable generation of the redundant SW ISR table
CONFIG_GEN_SW_ISR_TABLE=n

# Allow FLASH writes
CONFIG_MPU_ALLOW_FLASH_WRITE=y

# Shrink
CONFIG_GPIO=n

# Enable all NRFX drivers
CONFIG_NRFX_CLOCK=y
CONFIG_NRFX_CLOCK_LFXO_TWO_STAGE_ENABLED=y
CONFIG_NRFX_COMP=y
CONFIG_NRFX_DPPI00=y
CONFIG_NRFX_DPPI10=y
CONFIG_NRFX_DPPI20=y
CONFIG_NRFX_DPPI30=y
CONFIG_NRFX_EGU10=y
CONFIG_NRFX_EGU20=y
CONFIG_NRFX_GPIOTE20=y
CONFIG_NRFX_GPIOTE30=y
CONFIG_NRFX_GPPI=y
CONFIG_NRFX_GRTC=y
CONFIG_NRFX_I2S20=y
CONFIG_NRFX_NFCT=y
CONFIG_NRFX_PDM20=y
CONFIG_NRFX_PDM21=y
CONFIG_NRFX_POWER=y
CONFIG_NRFX_PPIB00=y
CONFIG_NRFX_PPIB01=y
CONFIG_NRFX_PPIB10=y
CONFIG_NRFX_PPIB11=y
CONFIG_NRFX_PPIB20=y
CONFIG_NRFX_PPIB21=y
CONFIG_NRFX_PPIB22=y
CONFIG_NRFX_PPIB30=y
CONFIG_NRFX_PWM20=y
CONFIG_NRFX_PWM21=y
CONFIG_NRFX_PWM22=y
CONFIG_NRFX_QDEC20=y
CONFIG_NRFX_QDEC21=y
CONFIG_NRFX_RRAMC=y
CONFIG_NRFX_SAADC=y
CONFIG_NRFX_SPIM00=y
CONFIG_NRFX_SPIM20=y
CONFIG_NRFX_SPIM21=y
CONFIG_NRFX_SPIM22=y
CONFIG_NRFX_SPIM30=y
CONFIG_NRFX_SYSTICK=y
CONFIG_NRFX_TEMP=y
CONFIG_NRFX_TIMER00=y
CONFIG_NRFX_TIMER10=y
CONFIG_NRFX_TIMER20=y
CONFIG_NRFX_TIMER21=y
CONFIG_NRFX_TIMER22=y
CONFIG_NRFX_TIMER23=y
CONFIG_NRFX_TIMER24=y
CONFIG_NRFX_TWIM20=y
CONFIG_NRFX_TWIM21=y
CONFIG_NRFX_TWIM22=y
CONFIG_NRFX_TWIM30=y
CONFIG_NRFX_UARTE00=y
CONFIG_NRFX_UARTE20=y
CONFIG_NRFX_UARTE21=y
CONFIG_NRFX_UARTE22=y
CONFIG_NRFX_UARTE30=y
CONFIG_NRFX_WDT30=y
CONFIG_NRFX_WDT31=y
CONFIG_NRFX_PRS_BOX_0=y
CONFIG_NRFX_PRS_BOX_1=y
CONFIG_NRFX_PRS_BOX_2=y
CONFIG_NRFX_PRS_BOX_3=y
CONFIG_NRFX_PRS_BOX_4=y
