#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BOARD_BM_NRF54L15DK
	select SOC_NRF54L05_CPUAPP if BOARD_BM_NRF54L15DK_NRF54L05_CPUAPP || BOARD_BM_NRF54L15DK_NRF54L05_CPUAPP_NO_SOFTDEVICE || BOARD_BM_NRF54L15DK_NRF54L05_CPUAPP_SOFTDEVICE_S115
	select SOC_NRF54L10_CPUAPP if BOARD_BM_NRF54L15DK_NRF54L10_CPUAPP || BOARD_BM_NRF54L15DK_NRF54L10_CPUAPP_NO_SOFTDEVICE || BOARD_BM_NRF54L15DK_NRF54L10_CPUAPP_SOFTDEVICE_S115
	select SOC_NRF54L15_CPUAPP if BOARD_BM_NRF54L15DK_NRF54L15_CPUAPP || BOARD_BM_NRF54L15DK_NRF54L15_CPUAPP_NO_SOFTDEVICE || BOARD_BM_NRF54L15DK_NRF54L15_CPUAPP_SOFTDEVICE_S115
