#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BOARD_BM_NRF54L15DK
	select BOARD_LATE_INIT_HOOK

# Temporary fix to remove a build warning in MCUboot.
config NRF_RTC_TIMER_USER_CHAN_COUNT
	int "Unused"
	default 0
