#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config PARTITION_MANAGER
	default n

if BOARD_BM_NRF54L15DK_NRF54L15_CPUAPP_S115_SOFTDEVICE_MCUBOOT

choice BM_BOOTLOADER
	default BM_BOOTLOADER_MCUBOOT
endchoice

choice SOFTDEVICE_SELECTION
	default SOFTDEVICE_S115
endchoice

choice BM_FIRMWARE_LOADER
	default BM_FIRMWARE_LOADER_BT_MCUMGR
endchoice

endif # BOARD_BM_NRF54L15DK_NRF54L15_CPUAPP_S115_SOFTDEVICE_MCUBOOT
