#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BLE_SCAN
	bool "Bluetooth LE Scan"
	depends on SOFTDEVICE_CENTRAL
	depends on NRF_SDH_BLE
	depends on BLE_ADV_DATA

if BLE_SCAN

config BLE_SCAN_BUFFER_SIZE
	int "Scan buffer size"
	default 32
	help
	  Maximum size for an advertising set.

config BLE_SCAN_NAME_MAX_LEN
	int "Scan name maximum length"
	default 32
	help
	  Maximum size for the name to search in the advertisement report,
	  including NULL-termination.

config BLE_SCAN_SHORT_NAME_MAX_LEN
	int "Scan short name maximum length"
	default 32
	help
	  Maximum size of the short name to search for in the advertisement report,
	  including NULL-termination.

config BLE_SCAN_MANUFACTURER_DATA_MAX_LEN
	int "Scan manufacturer data maximum length"
	default 32
	help
	  Maximum size for the manufacturer data to search in the advertisement report.

config BLE_SCAN_FILTER
	bool "Scan filter"
	default y
	help
	  Enabling filters for the scanning module.

if BLE_SCAN_FILTER

config BLE_SCAN_NAME_COUNT
	int "Scan name count"
	default 1
	help
	  Maximum number of name filters.

config BLE_SCAN_APPEARANCE_COUNT
	int "Scan appearance count"
	default 0
	help
	  Maximum number of appearance filters.

config BLE_SCAN_ADDRESS_COUNT
	int "Scan address count"
	default 0
	help
	  Maximum number of address filters.

config BLE_SCAN_SHORT_NAME_COUNT
	int "Scan short name count"
	default 0
	help
	  Maximum number of short name filters.

config BLE_SCAN_UUID_COUNT
	int "Scan UUID count"
	default 0
	help
	  Maximum number of filters for UUIDs.

config BLE_SCAN_MANUFACTURER_DATA_COUNT
	int "Scan manufacturer data count"
	default 0
	help
	  Maximum number of manufacturer data filters.

endif # BLE_SCAN_FILTER

config BLE_SCAN_INTERVAL
	int "Scanning interval (0.625 ms units)"
	range 4 65535
	default 160
	help
	  The scan interval in 0.625-millisecond units. Min 2.5 ms. Max 40.96 sec.
	  This value is used when default scan parameters are configured.

config BLE_SCAN_DURATION
	int "Scanning duration (10 ms units)"
	range 0 65535
	default 0
	help
	  Duration of a scanning session in 10-millisecond units. Min 10 ms. Max 655.35 sec.
	  If set to 0, the scanning continues until it is explicitly disabled.
	  This value is used when default scan parameters are configured.

config BLE_SCAN_WINDOW
	int "Scanning window (0.625 ms units)"
	range 4 BLE_SCAN_INTERVAL
	default 80
	help
	  The scan window in 0.625-millisecond units. Min 2.5 ms. Max CONFIG_BLE_SCAN_INTERVAL.
	  This value is used when default scan parameters are configured.

menu "Connection parameters for new connections (defaults)"

config BLE_SCAN_PERIPHERAL_LATENCY
	int "Peripheral latency"
	range 0 499
	default 0
	help
	  Number of connection events that peripheral is allowed to skip.
	  This value is used for new connections when default connection parameters are configured.

config BLE_SCAN_MIN_CONNECTION_INTERVAL
	int "Minimum connection interval (1.25 ms units)"
	range 6 3200
	default 6
	help
	  Minimum connection interval in 1.25-millisecond units. Min 7.5 ms. Max 4 sec.
	  This value is used for new connections when default connection parameters are configured.

config BLE_SCAN_MAX_CONNECTION_INTERVAL
	int "Maximum connection interval (1.25 ms units)"
	range BLE_SCAN_MIN_CONNECTION_INTERVAL 3200
	default 256
	help
	  Maximum connection interval in 1.25-millisecond units.
	  Min CONFIG_BLE_SCAN_MIN_CONNECTION_INTERVAL. Max 4 sec.
	  This value is used for new connections when default connection parameters are configured.

config BLE_SCAN_SUPERVISION_TIMEOUT
	int "Connection supervision timeout (10 ms units)"
	range 10 3200
	default 100
	help
	  Connection supervision timeout in 10-millisecond units. Min 100 ms. Max 32 sec.
	  This value is used for new connections when default connection parameters are configured.

endmenu

module=BLE_SCAN
module-str=BLE Scan
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # BLE_SCAN
