#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BLE_SCAN
	bool "Bluetooth LE Scan [EXPERIMENTAL]"
	depends on SOFTDEVICE_CENTRAL
	depends on NRF_SDH_BLE
	depends on BLE_ADV_DATA
	select EXPERIMENTAL

if BLE_SCAN

config BLE_SCAN_BUFFER_SIZE
	int "Scan buffer size"
	default 32
	help
	  Maximum size for an advertising set.

config BLE_SCAN_NAME_MAX_LEN
	int "Scan name maximum length"
	default 32
	help
	  Maximum size for the name to search in the advertisement report.

config BLE_SCAN_SHORT_NAME_MAX_LEN
	int "Scan short name maximum length"
	default 32
	help
	  Maximum size of the short name to search for in the advertisement report.

config BLE_SCAN_FILTER
	bool "Scan filter"
	default y
	help
	  Enabling filters for the scanning module.

if BLE_SCAN_FILTER

config BLE_SCAN_NAME_COUNT
	int "Scan name count"
	default 1
	help
	  Maximum number of name filters.

config BLE_SCAN_APPEARANCE_COUNT
	int "Scan appearance count"
	default 0
	help
	  Maximum number of appearance filters.

config BLE_SCAN_ADDRESS_COUNT
	int "Scan address count"
	default 0
	help
	  Maximum number of address filters.

config BLE_SCAN_SHORT_NAME_COUNT
	int "Scan short name count"
	default 0
	help
	  Maximum number of short name filters.

config BLE_SCAN_UUID_COUNT
	int "Scan UUID count"
	default 0
	help
	  Maximum number of filters for UUIDs.

endif # BLE_SCAN_FILTER

config BLE_SCAN_INTERVAL
	int "Scanning interval"
	default 160
	help
	  Determines the scan interval in units of 0.625 millisecond.

config BLE_SCAN_DURATION
	int "Scan duration"
	default 0
	range 0 65535
	help
	  Duration of a scanning session in units of 10 ms.
	  If set to 0, the scanning continues until it is explicitly disabled.

config BLE_SCAN_WINDOW
	int "Scanning window"
	default 80
	help
	  Determines the scanning window in units of 0.625 milliseconds.

config BLE_SCAN_PERIPHERAL_LATENCY
	int "Scan peripheral latency"
	default 0
	help
	  Determines the peripheral latency in counts of connection events.

config BLE_SCAN_MIN_CONNECTION_INTERVAL
	int "Minimum connection interval"
	default 6
	range 6 3200
	help
	  Determines the minimum connection interval in units of 1.25 milliseconds.

config BLE_SCAN_MAX_CONNECTION_INTERVAL
	int "Maximum connection interval"
	default 24
	range 6 3200
	help
	  Determines the maximum connection interval in units of 1.25 milliseconds.

config BLE_SCAN_SUPERVISION_TIMEOUT
	int "Scan supervision timeout"
	default 3200
	range 10 3200
	help
	  Determines the supervision time-out in units of 10 millisecond.

module=BLE_SCAN
module-str=BLE Scan
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # BLE_SCAN
