#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menuconfig NRF_SDH
	bool "Softdevice handler"
	depends on SOFTDEVICE
	depends on NRF_SECURITY
	depends on MBEDTLS_PSA_CRYPTO_C
	depends on PSA_WANT_GENERATE_RANDOM

if NRF_SDH

config NRF_SDH_BLE
	bool "BLE events"
	default y

choice
	prompt "Dispatch model"
	default NRF_SDH_DISPATCH_MODEL_SCHED

config NRF_SDH_DISPATCH_MODEL_IRQ
	bool "Interrupt"
	help
	  SoftDevice events are passed to the application in
	  the SoftDevice event interrupt context.

config NRF_SDH_DISPATCH_MODEL_SCHED
	bool "Scheduler"
	depends on EVENT_SCHEDULER
	help
	  SoftDevice events are passed to the application using the scheduler.

config NRF_SDH_DISPATCH_MODEL_POLL
	bool "Manual (poll)"
	help
	  In this mode, a user application can also implement SD_EVT_IRQHandler()
	  to receive a notification about incoming events.

endchoice

config NRF_SDH_DISPATCH_MODEL
	int
	default 0 if NRF_SDH_DISPATCH_MODEL_IRQ
	default 1 if NRF_SDH_DISPATCH_MODEL_SCHED
	default 2 if NRF_SDH_DISPATCH_MODEL_POLL

config NRF_SDH_CLOCK_LF_SRC
	int "LF Clock"
	default 1

config NRF_SDH_CLOCK_LF_RC_CTIV
	int "Calibration timer interval"
	default 0

config NRF_SDH_CLOCK_LF_RC_TEMP_CTIV
	int "Calibration timer interval"
	default 0

config NRF_SDH_CLOCK_LF_ACCURACY
	int "Accuracy"
	default 0

if NRF_SDH_BLE

config NRF_SDH_BLE_CONN_TAG
	int "Connection tag"
	range 1 255
	default 99
	help
	  Connection tag to use for BLE configuration.

config NRF_SDH_BLE_PERIPHERAL_LINK_COUNT
	int "Maximum number of peripheral links" if SOFTDEVICE_PERIPHERAL
	default 1

config NRF_SDH_BLE_CENTRAL_LINK_COUNT
	int "Maximum number of central links" if SOFTDEVICE_CENTRAL
	default 0

config NRF_SDH_BLE_TOTAL_LINK_COUNT
	int "Maximum number of total concurrent connections"
	range 1 1 if SOFTDEVICE_S115
	range 1 64
	default 1

config NRF_SDH_BLE_GAP_EVENT_LENGTH
	int "GAP event length (1.25 ms units)"
	range 2 3200
	default 3
	help
	  The event length in milliseconds must be shorter than the connection interval.
	  Must be 6 or larger when coded PHY is used.

config NRF_SDH_BLE_GATT_MAX_MTU_SIZE
	int "Maximum MTU size"
	range 23 65535
	default 23

config NRF_SDH_BLE_GATTS_ATTR_TAB_SIZE
	int "Attribute Table size in bytes"
	default 1408
	help
	  The size must be a multiple of 4.

config NRF_SDH_BLE_VS_UUID_COUNT
	int "Number of vendor-specific UUIDs"
	default 0

config NRF_SDH_BLE_SERVICE_CHANGED
	bool "Include the Service Changed characteristic in the Attribute Table"

endif # NRF_SDH_BLE

config NRF_SDH_STR_TABLES
	bool "Build string tables for SoftDevice handler events"
	default y
	help
	  Make prints nicer by printing the stringified version of certain enumerations.
	  Disable to save non-volatile memory.

module=NRF_SDH
module-dep=LOG
module-str= SoftDevice handler log level
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif # NRF_SDH
