#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

if FLASH

# zephyr-keep-sorted-start
rsource "Kconfig.nrf_rram"
# zephyr-keep-sorted-stop

endif # FLASH
