#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "NFC for Bare Metal"

# zephyr-keep-sorted-start
rsource "lib/Kconfig"
rsource "ndef/Kconfig"
rsource "t4t/Kconfig"
# zephyr-keep-sorted-stop

endmenu
