# Redefine these symbols without dependencies, so that tests
# can enable them without having to enable the dependencies too.
config PEER_MANAGER
	default y

config PM_SERVICE_CHANGED
	default y

config PM_LESC
	default y

# Redefine Kconfigs used by the tested module that are defined in
# other modules we do not want to enable.
config NRF_SDH_BLE_TOTAL_LINK_COUNT
	default 2

config SOFTDEVICE_PERIPHERAL
	default y

config SOFTDEVICE_CENTRAL
	default y

config BM_STORAGE_BACKEND_SD
	default y

source "Kconfig.zephyr"
