#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "SoftDevice"

config SOFTDEVICE
	bool "SoftDevice is present"
	depends on ZERO_LATENCY_IRQS

config SOFTDEVICE_PERIPHERAL
	bool

config SOFTDEVICE_CENTRAL
	bool

config SOFTDEVICE_DATA_LENGTH_UPDATE
	bool

config SOFTDEVICE_QOS_CHANNEL_SURVEY_REPORT
	bool

if SOFTDEVICE

config SOFTDEVICE_S115
	bool
	depends on SOC_SERIES_NRF54LX
	select SOFTDEVICE_PERIPHERAL
	default y

config SOFTDEVICE_STRING_TABLES
	bool "Compile tables for stringified events and errors"

endif

endmenu

config CLOCK_CONTROL
	default n if SOFTDEVICE
