#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menu "SoftDevice"

config SOFTDEVICE
	bool "SoftDevice is present"
	depends on ZERO_LATENCY_IRQS
	depends on !CLOCK_CONTROL

config SOFTDEVICE_PERIPHERAL
	bool
config SOFTDEVICE_CENTRAL
	bool

if SOFTDEVICE

config SOFTDEVICE_S140
	bool
	depends on SOC_SERIES_NRF52X
	select SOFTDEVICE_PERIPHERAL
	select SOFTDEVICE_CENTRAL
	default y

config SOFTDEVICE_S115
	bool
	depends on SOC_SERIES_NRF54LX
	select SOFTDEVICE_PERIPHERAL
	default y

config SOFTDEVICE_STRING_TABLES
	bool "Compile tables for stringified events and errors"

endif

endmenu
