#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "File Systems"

# zephyr-keep-sorted-start
rsource "bm_zms/Kconfig"
# zephyr-keep-sorted-stop

endmenu
