#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config PARTITION_MANAGER
	default n

if BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S115_SOFTDEVICE || \
	BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S115_SOFTDEVICE_MCUBOOT

choice SOFTDEVICE_SELECTION
	default SOFTDEVICE_S115
endchoice

endif # BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S115_SOFTDEVICE || \
	# BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S115_SOFTDEVICE_MCUBOOT

if BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S145_SOFTDEVICE || \
	BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S145_SOFTDEVICE_MCUBOOT

choice SOFTDEVICE_SELECTION
	default SOFTDEVICE_S145
endchoice

endif # BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S145_SOFTDEVICE || \
	# BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S145_SOFTDEVICE_MCUBOOT


# Kconfigs for all MCUboot board variants
if BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S115_SOFTDEVICE_MCUBOOT || \
	BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S145_SOFTDEVICE_MCUBOOT

choice BM_BOOTLOADER
	default BM_BOOTLOADER_MCUBOOT
endchoice

choice BM_BOOTLOADER_MCUBOOT_SIGNATURE_TYPE
	default BM_BOOTLOADER_MCUBOOT_SIGNATURE_TYPE_ED25519
endchoice

config BM_BOOTLOADER_MCUBOOT_SIGNATURE_USING_KMU
	default y

choice BM_BOOTLOADER_MCUBOOT_IMG_HASH_ALG
	default BM_BOOT_IMG_HASH_ALG_PURE
endchoice

choice BM_FIRMWARE_LOADER
	default BM_FIRMWARE_LOADER_BT_MCUMGR
endchoice

config BM_BOOTLOADER_MCUBOOT_FIRMWARE_LOADER_ENTRANCE_BOOT_MODE
	default y

endif # BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S115_SOFTDEVICE_MCUBOOT ||
	# BOARD_BM_NRF54LV10DK_NRF54LV10A_CPUAPP_S145_SOFTDEVICE_MCUBOOT
