#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
menuconfig BLE_CGMS
	bool "Continuous glucose monitoring service"
	select EXPERIMENTAL

if BLE_CGMS

config BLE_CGMS_BLE_OBSERVER_PRIO
	int "SoftDevice event observer priority"
	default 0

config BLE_CGMS_DB_RECORDS_MAX
	int "Number of records that can be stored in the database"
	default 100

module=BLE_CGMS
module-dep=LOG
module-str=BLE CGMS
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif
