#
# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "SoftDevice backend"

config BM_STORAGE_BACKEND_SD_QUEUE_SIZE
	int "SoftDevice storage backend queue size"
	default 4

config BM_STORAGE_BACKEND_SD_MAX_RETRIES
	int "Maximum number of attempts at executing an operation when the SoftDevice is busy"
	range 0 255
	default 8
	help
	  Increase this value if events frequently return -ETIMEDOUT.
	  The SoftDevice might fail to schedule flash access due to high BLE activity.

endmenu
