#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig PEER_MANAGER
	bool "Peer Manager"
	help
	  Peer Manager

if PEER_MANAGER

config PM_BLE_OBSERVER_PRIO
	int "Priority with which BLE events are dispatched to the Peer Manager module."
	default 1
	help
	  Priority with which BLE events are dispatched to the Peer Manager module.

config PM_MAX_REGISTRANTS
	int "Number of event handlers that can be registered."
	default 3
	help
	  Number of event handlers that can be registered.

config PM_FLASH_BUFFERS
	int "Number of internal buffers for flash operations."
	default 4
	help
	  Number of internal buffers for flash operations.
	  Decrease this value to lower RAM usage.

config PM_SERVICE_CHANGED_ENABLED
	bool "Enable/disable the service changed management for GATT server in Peer Manager."
	default y
	help
	  Enable/disable the service changed management for GATT server in Peer Manager.
	  If not using a GATT server, or using a server without a service changed characteristic,
	  disable this to save code space.

config PM_PEER_RANKS_ENABLED
	bool "Enable/disable the peer rank management in Peer Manager."
	default y
	help
	  Enable/disable the peer rank management in Peer Manager.
	  Set this to false to save code space if not using the peer rank API.

config PM_LESC_ENABLED
	bool "Enable/disable LESC support in Peer Manager."
	default n
	depends on PSA_WANT_ALG_ECDH
	depends on PSA_WANT_GENERATE_RANDOM
	depends on PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_GENERATE
	depends on PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_IMPORT
	depends on PSA_WANT_KEY_TYPE_ECC_KEY_PAIR_EXPORT
	depends on PSA_WANT_ECC_SECP_R1_256
	depends on (MBEDTLS_PSA_STATIC_KEY_SLOTS && MBEDTLS_PSA_KEY_SLOT_COUNT >= 1) || \
		   MBEDTLS_ENABLE_HEAP

	help
	  Enable/disable LESC support in Peer Manager.
	  If set to true, you need to call nrf_ble_lesc_request_handler() in the main loop to
	  respond to LESC-related BLE events. If LESC support is not required, set this to false to
	  save code space.

if PM_LESC_ENABLED

config PM_LESC_GENERATE_NEW_KEYS
	bool "Generate new LESC key pair after every pairing attempt"
	default n
	help
	  New LESC keys are generated on the auth status event.

endif # PM_LESC_ENABLED

config PM_RA_PROTECTION_ENABLED
	bool "Enable/disable protection against repeated pairing attempts in Peer Manager."
	default n
	help
	  Enable/disable protection against repeated pairing attempts in Peer Manager.

config PM_RA_PROTECTION_TRACKED_PEERS_NUM
	int "Maximum number of peers whose authorization status can be tracked."
	default 8
	help
	  Maximum number of peers whose authorization status can be tracked.

config PM_RA_PROTECTION_MIN_WAIT_INTERVAL
	int "Minimum waiting interval (in ms) before a new pairing attempt can be initiated."
	default 4000
	help
	  Minimum waiting interval (in ms) before a new pairing attempt can be initiated.

config PM_RA_PROTECTION_MAX_WAIT_INTERVAL
	int "Maximum waiting interval (in ms) before a new pairing attempt can be initiated."
	default 64000
	help
	  Maximum waiting interval (in ms) before a new pairing attempt can be initiated.

config PM_RA_PROTECTION_REWARD_PERIOD
	int "Reward period (in ms)."
	default 10000
	help
	  Reward period (in ms).
	  The waiting interval is gradually decreased when no new failed pairing attempts are made
	  during reward period.

config PM_HANDLER_SEC_DELAY_MS
	int "Delay before starting security."
	default 0
	help
	  Delay before starting security.
	  This might be necessary for interoperability reasons, especially as peripheral.

module=PEER_MANAGER
module-dep=LOG
module-str=Peer Manager
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # PEER_MANAGER
