#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Backends"

rsource "Kconfig.bm_uarte"

# Disable the zephyr UART backend by default when the Bare Metal UARTE log backend is used.
config LOG_BACKEND_UART
	depends on UART_CONSOLE
	default n if LOG_BACKEND_BM_UARTE

endmenu
