#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config BM_NFC_T4T_NDEF_FILE
	bool "NFC Type 4 Tag NDEF File for Bare Metal"
	default y if NFC_T4T_NRFXLIB && BM_NFC_NDEF_MSG
	help
	  Enable NFC Type 4 Tag NDEF File generator library.
