name: Build samples

on:
  pull_request:
    types: [push, opened, reopened, synchronize]

  workflow_dispatch:

jobs:
  build_samples_job:
    name: Build all samples within the project
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=64cpu-linux-x64
    # Keep aligned with target NCS version
    container: ghcr.io/nrfconnect/sdk-nrf-toolchain:v3.1.0
    defaults:
      run:
        # Bash shell is needed to set toolchain related environment variables in docker container
        # It is a workaround for GitHub Actions limitation https://github.com/actions/runner/issues/1964
        shell: bash

    steps:
    - name: Checkout the code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      with:
        path: nrf-bm
        fetch-depth: 0

    - name: restore-cache-sdk
      id: cache-sdk
      uses: actions/cache/restore@5a3ec84eff668545956fd18022155c47e93e2684 # v4
      with:
        path: |
          nrf
          zephyr
          modules
        key: ${{ runner.os }}-nrf-sdk

    - name: Prepare west project
      run: |
        west init -l nrf-bm
        west update -o=--depth=1 -n

    - name: Build samples
      working-directory: nrf-bm
      run: |
        west twister -T samples --build-only -v --inline-logs --integration

    - name: upload-logs
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      if: ${{ failure() && !contains(github.event.pull_request.user.login, 'dependabot[bot]') }}
      with:
        name: build-logs
        path: nrf-bm/twister-out/**/*.log
        retention-days: 5

    - name: upload-artifacts-dispatch
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
      if: contains(github.event.pull_request.user.login, 'dependabot[bot]') != true &&
          github.event_name == 'workflow_dispatch'
      with:
        name: build-artifacts
        path: nrf-bm/twister-out/**
        retention-days: 5

    - name: save-cache-sdk
      if: always() && steps.cache-sdk.outputs.cache-hit != 'true'
      uses: actions/cache/save@5a3ec84eff668545956fd18022155c47e93e2684 # v4
      with:
        path: |
          nrf
          zephyr
          modules
        key: ${{ steps.cache-sdk.outputs.cache-primary-key }}
