name: Generate src mirror package

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

concurrency:
  group: src-mirror-${{ github.ref }}
  cancel-in-progress: true

jobs:

  # Tar entire project west workspace, prune, and upload to artifact service.
  generate-src-mirror-package:
    runs-on:
      - runs-on=${{ github.run_id }}
      - runner=64cpu-linux-x64
    steps:

      - name: Set STABLE variable
        run: |
          if [[ "${{ github.ref_type }}" == "tag" ]] && [[ "${{ github.ref_name }}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "STABLE=true" >> $GITHUB_ENV
          else
            echo "STABLE=false" >> $GITHUB_ENV
          fi

      - name: Upload src.tar.gz
        uses: nrfconnect/action-src-mirror@main
        with:
          git-ref: ${{ github.ref_name }}
          path: 'nrf-bm'
          west-update-args: ''
          sdk-manager-api-version: '2'
          artifactory-base-folder-path: ${{ (github.ref_type == 'tag') && 'ncs-src-mirror/external/' || 'ncs-src-mirror/internal/' }}
          artifactory-user: ${{ secrets.COM_NORDICSEMI_FILES_USERNAME }}
          artifactory-pass: ${{ secrets.COM_NORDICSEMI_FILES_PASSWORD }}
          stable: ${{ env.STABLE }}
          repository-type: 'nrf-bm'
          toolchain-version: 'v3.2.0-rc1'
